<!DOCTYPE html>
<html lang="es-CO" dir="ltr">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <!--===============================================================================================-->
  <meta charset="UTF-8" />
  <meta data-rh="true" id="meta-http-ua-compatible" http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="Content-Language" lang="es-CO" />
  <meta name="robots" content="all" />
  <meta name="geo.placename" content="Acaci&aacute;s, Meta, Colombia." />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <!--===============================================================================================-->
  <meta name="theme-color" content="#000000" />
  <meta name="msapplication-TileColor" content="#000000" />
  <meta name="msapplication-navbutton-color" content="#000000" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000" />
  <!--===============================================================================================-->
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/ico/logoOriginalIcono.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/ico/logoOriginalIcono.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/ico/logoOriginalIcono.ico" />
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/ico/logoOriginalIcono.ico" />
  <meta name="msapplication-TileImage" content="../../assets/img/ico/logoOriginalIcono.ico" />
  <!--===============================================================================================-->
  <title data-rh="true">
    P.A. COLOMBIA.
  </title>
  <!--===============================================================================================-->
  <link href="../../assets/css/fontawesome.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../assets/css/brands.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../assets/css/solid.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../assets/css/v5-font-face.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../../assets/css/all.css" rel="stylesheet" type="text/css" media="all" />
  <!--===============================================================================================-->
  <script defer src="../../assets/js/brands.js" type="text/javascript" charset="UTF-8"></script>
  <script defer src="../../assets/js/solid.js" type="text/javascript" charset="UTF-8"></script>
  <script defer src="../../assets/js/fontawesome.js" type="text/javascript" charset="UTF-8"></script>
  <!--===============================================================================================-->
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" type="text/css"
    media="all" />
  <link href="../../assets/css/styleOne.css" rel="stylesheet" type="text/css" media="all">
  <!--===============================================================================================-->
  <script src="https://cdn.tailwindcss.com" type="text/javascript" charset="UTF-8"></script>
  <script src="../../assets/js/tailwind.config.js" type="text/javascript" charset="UTF-8"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"
    type="text/javascript" charset="UTF-8"></script>
  <script type="text/javascript" charset="UTF-8">
    document.addEventListener("DOMContentLoaded", function () {
      var fecha = new Date();
      var ano = fecha.getFullYear();
      var mes = fecha.getMonth() + 1;
      var dia = fecha.getDate();
      var fechaActual = dia + '/' + mes + '/' + ano;
      var elementoFecha = document.getElementById("fecha-actualizacion");
      elementoFecha.innerHTML = 'Última Actualización: ' + fechaActual;
    });
  </script>
  <!--===============================================================================================-->
</head>

<body>

  <div
    class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl"
      aria-hidden="true">
      <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-30"
        style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)">
      </div>
    </div>
    <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
      <p class="text-sm leading-6 text-gray-900">
        <strong class="font-semibold">
          <p id="fecha-actualizacion"></p>
        </strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true">
          <circle cx="1" cy="1" r="1" />
        </svg><span
          class="inline-flex p-1 me-3 bg-gray-200 rounded-full dark:bg-gray-600 w-6 h-6 items-center justify-center flex-shrink-0">
          <svg class="w-3 h-3 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 18 19">
            <path
              d="M15 1.943v12.114a1 1 0 0 1-1.581.814L8 11V5l5.419-3.871A1 1 0 0 1 15 1.943ZM7 4H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2v5a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2V4ZM4 17v-5h1v5H4ZM16 5.183v5.634a2.984 2.984 0 0 0 0-5.634Z" />
          </svg>
          <span class="sr-only">Light bulb</span>
        </span>Bienvenidos a inventario usuarios&#46;
      </p>
      <a href="about.html" rel="noopener noreferrer"
        class="flex-none rounded-full bg-gray-900 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Acerca
        De&#46; <span aria-hidden="true">&rarr;</span></a>
    </div>
    <div class="flex flex-1 justify-end">
      <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
        <span class="sr-only">Dismiss</span>
        <svg class="h-5 w-5 text-gray-900" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path
            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
        </svg>
      </button>
    </div>
  </div>
  <main class="main" id="top">
    <div>
      <nav class="bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
          <a href="../../index.html" rel="noopener noreferrer" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="../../assets/img/logo/logoOriginal.png" class="h-8" alt="P.A. COLOMBIA." title="P.A. COLOMBIA." />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
          </a>
          <button data-collapse-toggle="mega-menu-full-image" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="mega-menu-full-image" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15" />
            </svg>
          </button>
          <div id="mega-menu-full-image"
            class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
            <ul class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
              <li>
                <a href="../../index.html" rel="noopener noreferrer"
                  class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"
                  aria-current="page">Inicio&#46;</a>
              </li>
              <li>
                <button id="mega-menu-full-cta-image-button" data-collapse-toggle="mega-menu-full-image-dropdown"
                  class="flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Men&uacute;&#46;
                  <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4" />
                  </svg></button>
              </li>
            </ul>
          </div>
        </div>
        <div id="mega-menu-full-image-dropdown"
          class="mt-1 bg-white border-gray-200 shadow-sm border-y dark:bg-gray-800 dark:border-gray-600">
          <div
            class="grid max-w-screen-xl px-4 py-5 mx-auto text-sm text-gray-500 dark:text-gray-400 md:grid-cols-3 md:px-6">
            <ul class="hidden mb-4 space-y-4 md:mb-0 md:block" aria-labelledby="mega-menu-full-image-button">
              <li>
                <a href="about.html" rel="noopener noreferrer"
                  class="hover:underline hover:text-blue-600 dark:hover:text-blue-500">
                  Acerca De&#46;
                </a>
              </li>
            </ul>
            <a href="../../index.html" rel="noopener noreferrer"
              class="p-8 bg-local bg-gray-500 bg-center bg-no-repeat bg-cover rounded-lg bg-blend-multiply hover:bg-blend-soft-light dark:hover:bg-blend-darken"
              style="background-image: url(../../assets/img/abstract1.jpg)">
              <p class="max-w-xl mb-5 font-extrabold leading-tight tracking-tight text-white">
                Vista previa del nuevo
                Navegaci&oacute;n en el tablero&#46;
              </p>
              <button type="button"
                class="inline-flex items-center px-2.5 py-1.5 text-xs font-medium text-center text-white border border-white rounded-lg hover:bg-white hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-700">
                Volver Inicio&#46;
                <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="row">
          <div class="col-lg-12">
            <!-- Breadcrumb -->
            <nav
              class="flex px-5 py-3 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
              aria-label="Breadcrumb">
              <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                  <a href="../../index.html" rel="noopener noreferrer"
                    class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor" viewBox="0 0 20 20">
                      <path
                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                    </svg>
                    Inicio&#46;
                  </a>
                </li>
                <li aria-current="page">
                  <div class="flex items-center">
                    <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-400" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 9 4-4-4-4" />
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Acerca
                      De&#46;</span>
                  </div>
                </li>
              </ol>
            </nav>
            <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
              <div class="absolute inset-0 -z-10 overflow-hidden">
                <svg
                  class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
                  aria-hidden="true">
                  <defs>
                    <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1"
                      patternUnits="userSpaceOnUse">
                      <path d="M100 200V.5M.5 .5H200" fill="none" />
                    </pattern>
                  </defs>
                  <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                    <path
                      d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
                      stroke-width="0" />
                  </svg>
                  <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
                </svg>
              </div>
              <div
                class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
                <div
                  class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
                  <div class="lg:pr-4">
                    <div class="lg:max-w-lg">
                      <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
                        <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                          RESUMEN EJECUTIVO <code>&#58;&#42;</code>
                        </span>
                      </h1>
                      <p class="mt-6 text-xl leading-8 text-gray-700" style="text-align: justify;">
                        ESTA
                        PLATAFORMA FUE CREADO CON <b><code>&quot;FORMULARIO WEB&quot;</code></b> PARA ALMACENAR LOS
                        DATOS EN
                        LENGUAJE
                        DE
                        PROGRAMACI&Oacute;N EN <b><code>&quot;FRONT-END&quot;</code>&#46;</b>
                      <div class="br">
                        <ul role="list" class="mt-8 space-y-8 text-gray-600">
                          <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="m9 5 7 7-7 7" />
                            </svg>
                            <span>
                              DESARROLLADO EN <strong class="font-semibold text-gray-900">
                                <b><code>&quot;VISUAL STUDIO CODE&quot;</code></b>
                              </strong> PUEDE USAR CON C&Oacute;DIGO
                              ORIGINAL&#46;
                            </span>
                          </li>
                        </ul>
                      </div>
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
                  <img
                    class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]"
                    src="../../assets/img/ImagenWebA1.png" alt="Imagen Web" title="Imagen Web" />
                </div>
                <div
                  class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
                  <div class="lg:pr-4">
                    <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
                      <p>
                      <div class="grid md:grid-cols-2 gap-8">
                        <div
                          class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                          <div
                            class="w-full bg-center max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <div class="flex flex-col items-center pb-10">
                              <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../assets/img/perfilA.jpeg"
                                alt="LINO ADRIAN PAEZ REYES" title="LINO ADRIAN PAEZ REYES" />
                              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"
                                style="text-align: center;">
                                <code>LINO ADRIAN PAEZ REYES</code>
                              </h5>
                              <span class="text-sm text-gray-500 dark:text-gray-400" style="text-align: center;">
                                <code>ASISTENTE TIC</code>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div
                          class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
                          <div
                            class="w-full bg-center max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                            <div class="flex flex-col items-center pb-10">
                              <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="../../assets/img/perfilB.jpeg"
                                alt="JUAN CARLOS TOVAR" title="JUAN CARLOS TOVAR" />
                              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"
                                style="text-align: center;">
                                <code>JUAN CARLOS TOVAR</code>
                              </h5>
                              <span class="text-sm text-gray-500 dark:text-gray-400" style="text-align: center;">
                                <code>DIRECTOR TIC</code>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
          <div class="sm:flex sm:items-center sm:justify-between">
            <a href="../../index.html" rel="noopener noreferrer"
              class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
              <img src="../../assets/img/logo/logoOriginal.png" class="h-8" alt="P.A. COLOMBIA."
                title="P.A. COLOMBIA." />
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
              <li>
                <a href="about.html" rel="noopener noreferrer" class="hover:underline me-4 md:me-6">Acerca De&#46;</a>
              </li>
            </ul>
          </div>
          <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
          <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
            CopyRight&#8218; &copy; &#124;
            <script type="text/javascript" charset="UTF-8">
              document.write(new Date().getFullYear());
            </script> &#124; <p><code>P&#46;A&#46; COLOMBIA&#46;</code></p> <a href="#" class="hover:underline"
              rel="noopener noreferrer">&#124;</a>
            TODOS LOS
            DERECHOS RESERVADOS&#46;
          </span>
        </div>
      </footer>
    </div>
  </main>
  <!--===============================================================================================-->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js" type="text/javascript"
    charset="UTF-8"></script>
  <!--===============================================================================================-->
</body>

</html>